.home-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(2px);
    padding: 20px;
    margin: 30px;
    font-weight: bold;
}